@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit Browsers: Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #000);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-azure-blue {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#007fff, #007fff);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

*::selection {
  @apply bg-azure-blue;
  @apply text-gray-blue;
}
